.cakeContainer {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: background-color 1s ease;
}

.cakeContainer img {
  width: 40%;
  height: auto;
  position: absolute;
  bottom: -15rem;
  transition: transform 1s ease;
}

.cakeDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingr1,
.ingr2,
.ingr3 {
  position: absolute;
  height: auto;
  filter: drop-shadow(10px 5px 7px rgba(32, 14, 48, 0.5));
 
}
.ingr1 {
  width: 45%;
  top: 0rem;
  left: -6rem;
  rotate: -20deg;
}
.ingr2 {
  width: 20%;
  top: -1rem;
  left: 70rem;
  rotate: -10deg;
}
.ingr3 {
  width: 30%;
  top: 12rem;
  left: 61rem;
  rotate: 10deg;
}



.cakeDetails a {
  background-color: var(--grey-light);
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  color: var(--grey-dark);
  cursor: pointer;
  text-decoration: none;
  transition: ease-in 0.2s;
}

.cakeDetails a:hover {
  background-color: var(--pink-light);
  color: var(--grey-light);
  transition: color ease-in 0.2s;
  transition: background-color ease-in 0.2s;
}

.cakeDetails p {
  width: 40%;
  text-align: center;
}

/* Background colors for each type of cake */

.Chocolate-and-Fig-Cake {
  background: radial-gradient(circle, var(--gold), var(--lilac));
}
.Chocolate-and-Raspberry-Cake {
  background: radial-gradient(circle, var(--gold), var(--blue));
}
.Classic-Peach-Pie {
  background: radial-gradient(circle, var(--gold), var(--orange));
}
.Lemon-Meringue-Pie {
  background: radial-gradient(circle, var(--gold), var(--green));
}
.Puff-Pastry-Strawberry-Cake {
  background: radial-gradient(circle, var(--gold), var(--pink));
}
.Strawberry-Cake {
  background: radial-gradient(circle, var(--gold), var(--fucsia));
}




@media only screen and (min-width: 320px) and (max-width: 480px) {
 
  .cakeDetails h1 {
    text-align: center;
    padding: 0 1rem;
  }
  .cakeContainer img {
    width: 100%;
    bottom: -8rem;
    z-index: 1;
  }
  .cakeDetails p {
    width: 80%;
  }
  .ingr1 {
    width: 95%;
    top: 32rem;
    left: 1rem
  }
  .ingr2 {
    width: 35%;
    top: 30rem;
    left: 1rem;
  }
  .ingr3 {
    width: 38%;
    top: 29rem;
    left: 14rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .cakeContainer {
    height: fit-content;
  }
  .cakeContainer img {
    width: 72%;
    bottom: -15rem
  }
  .cakeDetails p {
    width: 80%;
  }
  .ingr1 {
    width: 67%;
    top: 17rem;
    left: -3rem
  }
  .ingr2 {
    width: 30%;
    top: 14rem;
    left: 32rem;
  }
  .ingr3 {
    width: 42%;
    top: 23rem;
    left: 24rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .cakeContainer {
    height: 100%;
  }
  .cakeContainer img {
    width: 57%;
    bottom: -15rem
  }
  .cakeDetails p {
    width: 40%;
  }
  .ingr1 {
    width: 40%;
    top: 4rem;
    left: -2rem
  }
  .ingr2 {
    width: 20%;
    top: 2rem;
    left: 50rem;
  }
  .ingr3 {
    width: 30%;
    top: 12rem;
    left: 43rem;
  }
}

