.navBar img {
  width: 7rem;
  height: auto;
  position: absolute;
  top: 1rem;
}

.recipeContainer {
  padding: 2rem 5rem 4rem 5rem;
}

.recipeContent {
  width: 100%;
}

.recipeContent img {
  width: 90%;
}
.recipeContent h1 {
  text-align: center;
}
.recipeContent h3 {
  text-transform: uppercase;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.details {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.details h4,
.conclusion,
.recipeContainer h3 {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.ingredients {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.conclusion {
  margin-top: 3rem;
  text-align: center;
  padding: 1rem 2rem 2rem 2rem;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.text {
  color: var(--grey-light);
}
.otherRecipes {
  padding: 1rem 4rem 4rem 4rem;
  box-shadow: 0px -5px 10px rgba(224, 224, 224, 0.1);
  display: flex;
  flex-direction: column;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem;
  margin-top: 2rem;
}
.recipes a {
  width: 10rem;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  transition: ease-in 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: var(--grey-light);
  font-size: 0.9rem;
}
.recipes a:hover {
  background: rgba(255, 255, 255, 0.6);
  color: var(--grey-dark);
}

.otherRecipes button {
  width: 8rem;
  background-color: var(--pink-light);
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  border: none;
  color: var(--grey-dark);
  cursor: pointer;
  text-decoration: none;
  transition: ease-in 0.2s;
  margin-top: 1rem;
}

.Chocolate-and-Fig-Cake .bullet {
  color: var(--lilac);
}
.Chocolate-and-Raspberry-Cake .bullet {
  color: var(--blue);
}
.Classic-Peach-Pie .bullet {
  color: var(--orange);
}
.Lemon-Meringue-Pie .bullet {
  color: var(--green);
}
.Puff-Pastry-Strawberry-Cake .bullet {
  color: var(--pink);
}
.Strawberry-Cake .bullet {
  color: var(--fucsia);
}

/* Background colors for each type of cake */

.Chocolate-and-Fig-Cake {
  background: radial-gradient(circle, var(--gold), var(--lilac));
}
.Chocolate-and-Raspberry-Cake {
  background: radial-gradient(circle, var(--gold), var(--blue));
}
.Classic-Peach-Pie {
  background: radial-gradient(circle, var(--gold), var(--orange));
}
.Lemon-Meringue-Pie {
  background: radial-gradient(circle, var(--gold), var(--green));
}
.Puff-Pastry-Strawberry-Cake {
  background: radial-gradient(circle, var(--gold), var(--pink));
}
.Strawberry-Cake {
  background: radial-gradient(circle, var(--gold), var(--fucsia));
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .navBar img {
    left: 10rem;
  }
  .recipeContainer {
    padding: 9rem 2rem 2rem 2rem;
  }
  .intro {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
  .intro img {
    justify-self: center;
  }
  .details {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .ingredients {
    grid-template-columns: 1fr;
  }
  .otherRecipes {
    padding: 1rem;
    gap: 0.5rem;
    align-items: center;
  }
  .otherRecipes button {
    margin-top: 3rem;
  }
  .recipes {
    gap: 2rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .recipeContainer {
    padding: 9rem 3rem 3rem 3rem;
  }
  .intro {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .intro img {
    width: 50%;
    justify-self: center;
  }
  .details {
    flex-wrap: wrap;
    gap: 0 1rem;
  }
  .ingredients {
    grid-template-columns: 1fr 1fr;
  }
  .recipes {
    gap: 2rem;
  }
}

@media only screen and (min-width: 1500px) {
  .recipeContainer {
    padding: 3rem 18rem;
  }

  .otherRecipes {
    padding: 1rem 18rem 4rem 18rem;
  }
}
