:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--grey-light);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --lilac: #3a044b;
  --fucsia: #7a0f45;
  --green: #00643c;
  --blue: #04214d;
  --orange: #943c09;
  --pink: #700f60;
  --gold: #e4b55d;
  --grey-light: #f7f7f7;
  --grey-dark: #3c3f3e;
  --pink-light: rgb(245, 192, 219);

}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100vw;
  /* overflow: hidden; */
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}
p {
  font-size: 0.9rem;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
