.homeContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--grey-light);
}

.buttonsContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  bottom: 3rem;
}
.buttonsContainer button {
  width: 6rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.buttonLeft {
  position: absolute;
  left: 15rem;
}
.buttonRight {
  position: absolute;
  left: 68rem;
}
.buttonsContainer span {
  font-size: 2.5rem;
  color: var(--grey-light);
  opacity: 0.4;
  transition: ease-in 0.3s;
}

.buttonsContainer span:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.navBar {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20rem;
  z-index: 1;
}

.navItem {
  position: absolute;
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  padding: 0 0.2rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: ease-in 0.3s;
  cursor: pointer;
}

.navItem:hover {
  background: rgba(255, 255, 255, 0.6);
  color: var(--grey-dark);
}

.navItem:nth-child(1) {
  transform: rotate(-80deg) translateX(-16rem) translateY(-16rem);
}
.navItem:nth-child(2) {
  transform: rotate(-42deg) translateX(-13rem) translateY(-6rem);
}
.navItem:nth-child(3) {
  transform: rotate(-10deg) translateX(-5rem) translateY(-2rem);
}
.navItem:nth-child(4) {
  transform: rotate(10deg) translateX(5rem) translateY(-2rem);
}
.navItem:nth-child(5) {
  transform: rotate(42deg) translateX(13rem) translateY(-6rem);
}
.navItem:nth-child(6) {
  transform: rotate(84deg) translateX(15rem) translateY(-16rem);
}



@media only screen and (min-width: 320px) and (max-width: 480px) {
  .homeContainer {
    height: 160vh;
  }
  .navBar {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.5rem;
    bottom: -5rem; 
    width: 90vw;
    margin: 0 1.5rem
  }

  .navItem {
    position: relative; 
    transform: none; 
  }
  .navItem:nth-child(1), .navItem:nth-child(2), .navItem:nth-child(3), .navItem:nth-child(4), .navItem:nth-child(5), .navItem:nth-child(6) {
    transform: none; 
    bottom: 0;
  }
  .buttonsContainer{
    top: 72rem
  }
  .buttonLeft {
    left: 2.5rem;
   }
   .buttonRight {
    left: 17.5rem;
   }
  
}



@media only screen and (min-width: 481px) and (max-width: 1023px) {
  
 .buttonLeft {
  left: 1rem;
  top: -15rem;
 }
 .buttonRight {
  left: 40rem;
  top: -15rem;
 }
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .buttonLeft {
    left: 1rem;
    top: -2rem;
   }
   .buttonRight {
    left: 57rem;
    top: -2rem;
   }
}

@media only screen and (min-width: 1500px) {
  .navItem:nth-child(1) {
    transform: rotate(-80deg) translateX(-16rem) translateY(-22rem);
  }
  .navItem:nth-child(2) {
    transform: rotate(-42deg) translateX(-13rem) translateY(-13rem);
  }
  .navItem:nth-child(3) {
    transform: rotate(-10deg) translateX(-5rem) translateY(-9rem);
  }
  .navItem:nth-child(4) {
    transform: rotate(10deg) translateX(5rem) translateY(-9rem);
  }
  .navItem:nth-child(5) {
    transform: rotate(42deg) translateX(13rem) translateY(-13rem);
  }
  .navItem:nth-child(6) {
    transform: rotate(84deg) translateX(15rem) translateY(-22rem);
  }

  .navItem {
    font-size: 1em;
    width: 9rem;
    padding: 0.3rem
  }

  .buttonRight {
    left: 97rem
  }
}



